* {  box-sizing: border-box;
    margin: 0;
    border: thin solid black;
}

.container { }
/* clearfix */
.container:after { content: ""; clear: both; display: table;  }

.row {  }
/* clearfix */
.row:after { content: ""; clear: both; display: table;  }

.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 { float: left; }

.l1 { width: 8.33333333333%;  }
.l2 { width: 16.6666666666%; }
.l3 { width: 25%; }
.l4 { width: 33.3333333333%; }
.l5 { width: 41.6666666666%; }
.l6 { width: 50%; }
.l7 { width: 58.3333333333%; }
.l8 { width: 66.6666666666%; }
.l9 { width: 75%; }
.l10 { width: 83.3333333333%; }
.l11 { width: 91.6666666666%; }
.l12 { width: 100%; }

.box ul li { border: thin solid #dadada; }



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 { width: 100%; color: red; background-color: green;}
}
